      A {text-decoration:none;font-size:8pt;font-family: arial; font-weight:normal;color:#a9a9a9;}
      A.regular {text-decoration:none;font-size:8pt;font-family: arial; font-weight:normal;color:silver;}

      A.email {text-decoration:none;font-size:9pt;font-family: arial; font-weight:normal;color:white;}
      A:link {text-decoration:none;font-family: arial; font-weight:normal;}
      A:visited {font-family: arial; font-weight:normal;}
      A:hover {font-weight:normal; color: red; background:silver}
      A.logo:hover {font-weight:normal;}
      A:active {font-weight: normal;}
	  a.fbk {text-decoration:underline;font:700 11px arial;color:black;}
	  


body{      font-family: Arial, sans-serif;
   }
	  
.dingframe{
position:absolute;
width:315px;
height:250px;
border:2px outset #eeeeee;
background:#eaeaea;
display:none;
}


.topmenu{
cursor:pointer;
height:15px;
visibility:visible;
position:absolute;
color:black;
font:800 11px arial;
}

.topmenutxt{
cursor:pointer;
overflow:hidden;
color:black;
float:right;
}

.dingtb{
font:11px arial;
position:relative;
left:5px;
top:20px;
color:black;
}

.clearbut{
width:18px;
height:22px;
padding-top:3px;
}	

.loginui{
cursor:pointer;
width:200px;
visibility:visible;
padding:2px;
position:absolute;
color:black;
font:800 11px arial;
color:black;
float:left;
margin-bottom:13px
}

.loginui1{
cursor:pointer;
overflow:hidden;
color:black;
float:left;
margin-bottom:13px
}



.label1{
width: 97px;
height:22px;
font: 10pt arial;
float:left;
padding:0px 0px 0px 4px;
margin-top:0px;
}

.control{
width: 110px;
height:22px;
font: 11px arial;
float:right;
}	  
	
input.mmenu1{
height:18px;
width:25px;
font:11px arial;
margin-top:2px;
float:left;
}


DIV.bg{
margin:auto;
width:480px;
height:320px;
overflow:hidden;
padding:0px;
border:0px solid green;
z-index:-1;
}

DIV.layer0{
width:480px;
height:320px;
position:absolute;
}


table.main  {
width:480px;
margin-top:0px;
padding:0px;
margin-bottom:0px;
}


.timg{
padding:0px 0px 0px 0px;
border:1px solid #e6e6fa;
cursor:pointer;
}

table.iamgeframe {
position:absolute;
}

.tbar{
position:absolute;
background-color:lavender;
font-size:10pt;font-weight:bold;
width:480px;
height:20px;
}

.tbox{
position:absolute;
top:20px;
width:480px;
height:65px;
}

#dframe{
position:absolute;
width:400px;
height:300px;
border:2px outset #eeeeee;
background:#eaeaea;
display:none;

}



.monwindow{
border: 1px solid silver;
background-color:#eaeaea;
position:absolute;
overflow:hidden;
border-bottom:2px solid #c0c0c0;
}

.helpindex{
border: 1px solid silver;
font: 12px arial;
background-color:#eaeaea;
position:absolute;
}

.miscwindow{
border: 1px solid silver;
border-bottom:2px solid #c0c0c0;
width:0px;
height:0px;
background-color:#eaeaea;
position:absolute;
overflow:hidden;
}

.fbwindow{
border: 1px solid silver;
width:0px;
height:0px;
background-color:#ffffff;
position:absolute;
overflow:hidden;
}

.banner{
border: 0px solid silver;
width:0px;
height:0px;
background-color:white;
position:absolute;
overflow:hidden;
text-align:center;
cursor:pointer;
}

.googleads{
width:0px;
height:0px;
background-color:white;
position:absolute;
overflow:hidden;
}

.colorpicker{
border: 1px solid silver;
width:0px;
height:0px;
background-color:#eaeaea;
position:absolute;
overflow:hidden;
}

.tprompt{
line-height:17px;
background-color:#e1e9e9;
position:absolute;
float:left;
width:478px;
border-bottom:0px solid gray;
height:20px;
font-size:11px;
color:#31333a;
padding-left:2px;
}

.tb{
background-color:white;
border:1px solid silver;
position:absolute;
}

.tf{
background-color:black;
border:1px solid silver;
position:absolute;
}

select.mmenu{
height:18px;
width:100px;
font:11px arial;
}


.menuhdr{
height:16px;
background-color:#595FEE;
color:whitesmoke;
font:700 11px arial ;
margin-bottom:2px;
padding-left:2px;
}

td.image {
height:320px;
width:480px;
}

td.textarea {
height:65px;
background-color:whitesmoke;
}

td.control {
background-color:cornsilk;
padding-top:5px;
padding-bottom:5px;
font-size:8pt;
}

   form{
      padding-left:0px;
   }
